section.form-footer
  .form-footer__content
    if !headless
      .form-footer__content__main-controls  
        if type === 'preview'
          button#validate-form.btn.btn-primary
            i.icon.icon-check= ' '
            | #{t('formfooter.validate.btn')}
        else if type === 'fieldsubmission' || type === 'view'
          button(id=`close-form-${closeButtonIdSuffix}`, class=`btn ${completeButton ? 'btn-default' : 'btn-primary'}`) #{t('alert.default.button')}
          if completeButton
            button#finish-form.btn.btn-primary
              i.icon.icon-check= ' '
              | #{t('formfooter.complete.btn')}
        else
          if draftEnabled && offlinePath
            button#save-draft.btn.btn-default
              i.icon.icon-info-circle.save-draft-info= ' '
              i.icon.icon-pencil= ' '
              | #{t( 'formfooter.savedraft.btn' )}
          button#submit-form.btn.btn-primary
            i.icon.icon-check= ' '
            | #{t('formfooter.submit.btn')}
        a.btn.btn-primary.next-page(href="#")
          i.icon.icon-arrow-right
          span= t('form.pages.next')

        include _logout
        include _enketo-power
        a.previous-page.disabled(href="#")= t('form.pages.back')

      .form-footer__content__jump-nav
        if !participant
          a.btn.btn-default.disabled.first-page(href="#")= t('form.pages.return')
          a.btn.btn-default.disabled.last-page(href="#")= t('form.pages.end')

