section.form-footer
  .form-footer__content
    if !headless
      .form-footer__content__main-controls  
        if type === 'preview'
          button#validate-form.btn.btn-primary
            i.icon.icon-check= ' '
            span(data-i18n='formfooter.validate.btn')= t('formfooter.validate.btn')
        else if type === 'fieldsubmission' || type === 'view'
          if nextPrompt && completeButton
            fieldset.draft.question.next-prompt
              .option-wrapper: label 
                input.ignore(type='checkbox', name='next-prompt') 
                span #{nextPrompt}
          button(id=`close-form-${closeButtonIdSuffix}`, class=`btn ${completeButton ? 'btn-default' : 'btn-primary'}`, data-i18n='alert.default.button')= t('alert.default.button')
          if completeButton
            button#finish-form.btn.btn-primary
              i.icon.icon-check= ' '
              span(data-i18n='formfooter.complete.btn')= t('formfooter.complete.btn')
        else
          if draftEnabled && offlinePath
            button#save-draft.btn.btn-default
              i.icon.icon-info-circle.save-draft-info= ' '
              i.icon.icon-pencil= ' '
              span(data-i18n='formfooter.savedraft.btn')= t( 'formfooter.savedraft.btn' )
          button#submit-form.btn.btn-primary
            i.icon.icon-check= ' '
            span(data-i18n='formfooter.submit.btn')= t('formfooter.submit.btn')
        a.btn.btn-primary.next-page(href="#")
          i.icon.icon-arrow-right
          span(data-i18n='form.pages.next')= t('form.pages.next')

        include _logout
        include _enketo-power
        a.btn.btn-default.previous-page.disabled(href="#")
          i.icon.icon-arrow-left
          span(data-18n='form.pages.back')= t('form.pages.back')

      .form-footer__content__jump-nav
        if !participant
          a.btn.btn-default.disabled.first-page(href="#", data-i18n='form.pages.return')= t('form.pages.return')
          a.btn.btn-default.disabled.last-page(href="#", data-i18n='form.pages.end')= t('form.pages.end')

